
@{
}
@model CatalogViewModel
@{
    string strTitle = "New page";
    ViewBag.Title = strTitle;
    Layout = "_BaseStyle";
}
<div style="margin-left:300px; margin-right:300px;">
    @foreach (var f in Model.editCatalogs.Where(x => x.Title == "Гитары"))
    {
        <input type="hidden" name="Id" value="@f.Id" />
        <input type="hidden" name="Title" value="@f.Title" />

        @foreach (var item in Model.Instruments.Where(x => x.CatalogId == f.Id))
        {
            <label>@f.Title</label>

            if (item.CatalogId == f.Id)
            {
                <style>
                    .card {
                        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
                        transition: 0.3s;
                        width: 40%;
                        border-radius: 5px;
                     
                    }

                        .card:hover {
                            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
                        }

                    img {
                        border-radius: 5px 5px 0 0;
                    }

                    .container {
                        padding: 2px 16px;
                    }
                </style>


                <div class="card">
                    <img src="~/images/DB/@item.TitleImagePath" alt="ls-sample1" />
                    <div class="container">
                        <h4><b><a asp-area="" asp-action="Index" asp-controller="Instruments" asp-route-id="@item.Id"> @item.Title</a></b></h4>
                        <p>@item.Subtitle</p>
                    </div>
                </div>

            }
            @*<p>@item.PageTitle</p>
                <div>
                    @item.ImagePage
                </div>
                <div>
                    @item.BaseText
                </div>
                <div>@item.Saidbar_text</div>*@
        }
    }
</div>



