@model InstrumentItem

<div>
    <h2>
        @Model.Title
    </h2>
    <div>
        <label>@Model.DateAdded</label>
    </div>
    <p>
        @Model.CatalogId
    </p>
    <p>
        @Model.Subtitle
    </p>

    @if (!string.IsNullOrWhiteSpace(Model.TitleImagePath))
    {
        <div>
            <img class="" src="~/images/DB/@Model.TitleImagePath" />,
        </div>
    }
</div>
<div>
    <div>
        <input id="UserName" type="hidden" asp-for="@Model.Chat.UserName" />
        <input id="UpTo" type="hidden" asp-for="@Model.Chat.UpTo" />
        <input id="InstrumentItemId" type="hidden" asp-for="@Model.Id" />
        <input id="IsBlocked" type="hidden" asp-for="@Model.Chat.IsBlocked" />
        <input type="hidden" asp-for="@Model.Chat.Email" />
        <div>
            @Html.Raw(Model.Text)
        </div>
    </div>

    <div>Сообщение</div>
    <div><input type="text" id="messageInput" /></div>
    <div>
        <input type="hidden" id="sendButton" value="Послать всем" />
        <div>

            <div>

                <input type="submit" id="sendPrivateButton" value="Послать" />
                @if (User.IsInRole(Config.RoleModer))
                {
                <a  asp-action="SendBlock"  asp-controller="Instruments" asp-route-model="@Model.BlockedName" onclick="editLabel()" >
                    <labelBlocked id="labelBlocked" asp-for="BlockedName"></labelBlocked>
                    <script >
                        function editLabel() {
                        @Model.BlockedName = document.getElementById("labelBlocked").value;

                        }
                    </script>

                </a>
                }
                

            </div>
        </div>
        <div>
            <ul id="messagesList">
                @if (Model.Messages.Any())
                {
                @foreach (var item in Model.Messages.OrderBy(x => x.DateAdded))
                {
                    <li>
                        @item.User.UserName + ": " + @item.Text
                    </li>
                    }
                }
                </ul>
        </div>
    </div>
    @if (Model.Chat.IsModerator)
    {
<div>

    <p>
        на:&nbsp;
      
    </p>
</div>}
    

    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
